:root {
  --primary: #0f172a;
  --secondary: #0ea5e9;
  --bg: #f1f5f9;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  margin: 0;
}

.navbar, footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 20px;
}

.hero {
  background: linear-gradient(135deg, #0f172a, #1e40af);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
  margin-top: 40px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  width: 90%;
}



.weather-box input, .weather-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.weather-box button {
  background: var(--secondary);
  color: white;
  border: none;
}

#weather-result {
  margin-top: 15px;
  font-weight: bold;
}
.navbar {
  background: var(--primary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  flex-wrap: wrap;
}

.logo {
  font-size: 22px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}

.menu a:hover {
  color: var(--secondary);
}

.badges span {
    display: inline-block;
    background: var(--secondary);
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    margin: 5px 5px 0 0;
    font-size: 14px;
}

.line {
   height: 2px;
   border: 0;
    background: black;
}

.fade {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
